# =====================
# Python
# =====================
__pycache__/
*.py[cod]

# =====================
# Environment variables
# =====================
.env
.env.*
!.env.example

# =====================
# Airflow
# =====================
airflow/logs/
airflow/dags/**/__pycache__/

# =====================
# dbt
# =====================
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# =====================
# Notebooks
# =====================
notebooks/.ipynb_checkpoints/
notebooks/delta-tables/

# =====================
# General logs
# =====================
*.log
