# =====================
# Python
# =====================
__pycache__/
*.py[cod]

# =====================
# Airflow
# =====================
airflow/logs/
airflow/dags/**/__pycache__/

# =====================
# dbt
# =====================
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# =====================
# General logs
# =====================
*.log
